@model IEnumerable<AlarmPi.Models.AlarmEntity>

@{
    ViewBag.Title = "Display Alarms";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblAlarm').DataTable();
    });
</script>
<h2>DisplayAlarm</h2>

<p>
    @Html.ActionLink("Create New", "CreateAlarm")
</p>
<table class="table" id="tblAlarm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlarmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
